<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Title </title>
</head>
<body>
  
  <div>
    <a href="./index.html"> Ir a register </a>
    <h2>Form</h2>
    <label id="error-message"></label>
    <form id="login-form">
      <input id="email" type="text" placeholder="Su correo" name="email">
      <input id="pass" type="text" placeholder="Su contraseña" name="password">
      <input type="submit"  id="login-btn" value="Enviar">
    </form>

    <script src="../login.js"></script>
    <script src="../storage.js"></script>
    <script src="../routes.js"></script>
  </div>
</body>
</html>